<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sofisticar Estética Automotiva - Login</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename="img/favicon.png") }}">

    <!-- Import using CDN link from Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">  
    
    <style>
        body {
          background-image: url( {{ url_for('static', filename="img/bg.jpg") }});
        }
        
    </style>

</head>

<body class="text-center">
    
    <main class="form-signin w-100 m-auto ">

            <form action="" method="POST" class="position-absolute top-50 start-50 translate-middle col-3 p-5 rounded-3 bg-white">
                <!-- o action vazio diz que os dados serão enviados para a mesma página - login.html no caso -->
                {{ form.csrf_token }}   <!-- campo de segurança para tornar o formulário válido -->

                <img src={{ url_for('static', filename="img/logo.png") }} alt="Sofisticar Logo" width="300" height="100%">
                <h1 class="h4 mt-3 mb-5 fw-normal">Insira abaixo os dados para login</h1>
            
                <div class="form-control text-start border-white">
                    <!--<input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">-->
                    <label for="floatingInput" class="ms-2">Username</label>
                    {{ form.username(class="form-control", placeholder="seu_nome@sofisticar.com.br") }}
                    <!-- o underline class permite passar as classes do HTML no Jinja -->
                </div>

                {% if form.errors.username %}
                    <div class="alert alert-danger" role="alert">
                        <ul>
                            {% for error in form.errors.username %}
                                <li> {{ error }} </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <div class="form-control text-start border-white mt-2">
                    <!--<input type="password" class="form-control" id="floatingPassword" placeholder="Password">-->
                    <label for="floatingPassword">Password</label>
                    {{ form.password(type="password", class="form-control") }}
                </div>

                {% if form.errors.password %}
                    <div class="alert alert-danger" role="alert">
                        <ul>
                            {% for error in form.errors.password %}
                                <li> {{ error }} </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <div class="checkbox mt-3 mb-3">
                    <label>{{ form.remember_me }} Lembrar-me</label>
                    <p class="mt-3">Não possui uma conta? <a href="/criar_login"> Criar!</a></p>
                </div>
                
                <button class="w-100 btn btn-lg btn-dark" type="submit">Acessar!</button>

            </form>

    </main>
        
    <!-- Import using CDN link from Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>    

</body>
</html>