{% extends "base.html" %}
{% block content %}

    {% if current_user.is_authenticated %}
        <main class="container">
            <div class="py-5 text-center">
                {{ teste }}
                <h2>Consulta de Usuários</h2>
                <p class="lead">Insira abaixo uma das informações para pesquisar o cadastro do usuário, ou deixe em branco para retornar todos os registros.</p>
            </div>

            <!-- VALIDAÇÕES --> 
            
            {% if mensagem or mensagem_editar %}
            <div class="col-12 text-center">
                <div class="alert alert-success d-flex flex-column align-items-center" role="alert">
                    {{ mensagem }}
                    {{ mensagem_editar }}
                    <a class="col-3 btn btn-outline-success mt-3" href="/usuario_resultado">Retornar para consulta de usuários</a>
                </div>
            </div>
            {% elif mensagem_deletar %}
            <div class="col-12 text-center">
                <div class="alert alert-danger d-flex flex-column align-items-center" role="alert">
                    {{ mensagem_deletar }}
                    <a class="col-3 btn btn-outline-danger mt-3" href="/usuario_resultado">Retornar para consulta de usuários</a>
                </div>
            </div>
            {% else %}  <!-- CASO NÃO HAJA VALIDAÇÕES, MOSTRAR TABELA --> 
            <div class="container">
                <form action="" class="col-12 d-flex" method="POST">
                    <div class="col-3 p-1">
                        <select class="form-select" name="opcao">
                            <option>-- Selecione --</option>
                            <option>Nome</option>
                            <option>E-mail</option>
                            <option>Username</option>
                        </select>
                    </div>
                    <div class="col-9 p-1">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Insira uma informação ou deixe em branco para todos os registros" name="campo">
                            <button type="submit" class="btn btn-secondary">Pesquisar!</button>
                        </div>
                    </div>
                </form>
                
                <div class="mb-4"></div>

                <table class="table col-12">
                    <thead class="col-12">
                        <th>ID</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Username</th>
                        <th>Ações</th>
                    </thead>

                    <tbody class="col-12 table-group-divider">  <!-- RETORNA TODOS OS REGISTROS -->        
                        {% if campo == '' %}
                            {% for usuario in usuarios %}
                                {% if usuario.isActive == 1 %}
                                    <tr>
                                        <td>{{ usuario.id }}</td>
                                        <td>{{ usuario.retorna_nome_funcionario(usuario.funcionario_id) }}</td>
                                        <td>{{ usuario.email }}</td>
                                        <td>{{ usuario.username }}</td>
                                        <td>
                                            <a href="/usuario_editar/{{usuario.id}}"><button type="button" class="btn btn-outline-primary">Editar</button></a>
                                            <span class="p-2">|</span>
                                            
                                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modal{{usuario.id}}">
                                                Excluir
                                            </button>
                                            
                                            <div class="modal fade" id="modal{{usuario.id}}" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="modal">Deseja excluir?</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Tem certeza que deseja excluir o usuário <strong>{{ usuario.username }}</strong>?
                                                        </div>
                                                        <div class="modal-footer">
                                                        <a href="/usuario_deletar/{{usuario.id}}"><button type="button" class="btn btn-danger">Sim</button></a>
                                                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Não</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>                  
                                    </tr>
                                {% endif %}
                            {% endfor %}

                        {% elif opcao == 'Nome' %}  <!-- RETORNA REGISTROS POR NOME --> 
                            {% for usuario in usuarios %}
                                {% if campo.upper() in usuario.retorna_nome_funcionario(usuario.funcionario_id).upper() and usuario.isActive == 1 %}
                                <tr>
                                    <td>{{ usuario.id }}</td>
                                    <td>{{ usuario.retorna_nome_funcionario(usuario.funcionario_id) }}</td>
                                    <td>{{ usuario.email }}</td>
                                    <td>{{ usuario.username }}</td>
                                    <td>
                                        <a href="/usuario_editar/{{usuario.id}}"><button type="button" class="btn btn-outline-primary">Editar</button></a>
                                        <span class="p-2">|</span>
                                        
                                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modal{{usuario.id}}">
                                            Excluir
                                        </button>
                                        
                                        <div class="modal fade" id="modal{{usuario.id}}" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="modal">Deseja excluir?</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Tem certeza que deseja excluir o usuário <strong>{{ usuario.username }}</strong>?
                                                    </div>
                                                    <div class="modal-footer">
                                                    <a href="/usuario_deletar/{{usuario.id}}"><button type="button" class="btn btn-danger">Sim</button></a>
                                                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Não</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>                       
                                </tr>
                            {% endif %}
                        {% endfor %}

                        {% elif opcao == 'E-mail' %}    <!-- RETORNA REGISTROS POR E-MAIL --> 
                            {% for usuario in usuarios %}
                                {% if campo.upper() in usuario.email.upper() and usuario.isActive == 1 %}
                                <tr>
                                    <td>{{ usuario.id }}</td>
                                    <td>{{ usuario.retorna_nome_funcionario(usuario.funcionario_id) }}</td>
                                    <td>{{ usuario.email }}</td>
                                    <td>{{ usuario.username }}</td>
                                    <td>
                                        <a href="/usuario_editar/{{usuario.id}}"><button type="button" class="btn btn-outline-primary">Editar</button></a>
                                        <span class="p-2">|</span>
                                        
                                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modal{{usuario.id}}">
                                            Excluir
                                        </button>
                                        
                                        <div class="modal fade" id="modal{{usuario.id}}" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="modal">Deseja excluir?</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Tem certeza que deseja excluir o usuário <strong>{{ usuario.username }}</strong>?
                                                    </div>
                                                    <div class="modal-footer">
                                                    <a href="/usuario_deletar/{{usuario.id}}"><button type="button" class="btn btn-danger">Sim</button></a>
                                                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Não</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>                      
                                </tr>
                                {% endif %}
                            {% endfor %}

                            {% elif opcao == 'Username' %}    <!-- RETORNA REGISTROS POR E-MAIL --> 
                            {% for usuario in usuarios %}
                                {% if campo.upper() in usuario.username.upper() and usuario.isActive == 1 %}
                                <tr>
                                    <td>{{ usuario.id }}</td>
                                    <td>{{ usuario.retorna_nome_funcionario(usuario.funcionario_id) }}</td>
                                    <td>{{ usuario.email }}</td>
                                    <td>{{ usuario.username }}</td>
                                    <td>
                                        <a href="/usuario_editar/{{usuario.id}}"><button type="button" class="btn btn-outline-primary">Editar</button></a>
                                        <span class="p-2">|</span>
                                        
                                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modal{{usuario.id}}">
                                            Excluir
                                        </button>
                                        
                                        <div class="modal fade" id="modal{{usuario.id}}" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="modal">Deseja excluir?</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Tem certeza que deseja excluir o usuário <strong>{{ usuario.username }}</strong>?
                                                    </div>
                                                    <div class="modal-footer">
                                                    <a href="/usuario_deletar/{{usuario.id}}"><button type="button" class="btn btn-danger">Sim</button></a>
                                                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Não</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>                      
                                </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>  
            {% endif %}  
        </main>
    {% else %}
        <meta http-equiv="refresh" content="0.1; url='http://localhost:5000/login'" />
    {% endif %}
{% endblock %}
